<div id="add-address" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="formAddress" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-12">Địa chỉ: </label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="addressName" placeholder="Nhập địa chỉ" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Tỉnh: </label>
                        <div class="col-md-12">
                            <select class="select form-control" id="StateProvinceId">
                                @foreach (var item in ViewBag.StateProvince)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Quận huyện: </label>
                        <div class="col-md-12">
                            <select class="select form-control" data-select2-id="1" tabindex="-1" aria-hidden="true" id="DistrictId">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Phường xã: </label>
                        <div class="col-md-12">
                            <select class="select form-control" data-select2-id="1" tabindex="-1" aria-hidden="true" id="WardId">
                            </select>
                        </div>
                    </div>
                    <div class="alert alert-danger" id="AddressError" style="display:none">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" id="btnAddress">Lưu</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" id="btnCancel">Hủy</button>
                <input hidden="hidden" id="Id">
            </div>
        </div>
    </div>
</div>

<script>

    var _Address = {};

    $("#StateProvinceId").change(function () {
        _Address.stateProvinceId = $("#StateProvinceId").val();
        getListDistrict(_Address.stateProvinceId);
        _Address = new Address();
    });

    $("#DistrictId").change(function () {
        _Address.districtId = $("#DistrictId").val();
        getListWard(_Address.districtId);
        _Address = new Address();
    });

    function getListDistrict(stateProvinceId) {
        $.ajax({
            url: "@Url.Action("GetListDistrictByStateProvinceId", "LocationAddress")",
            type: "POST",
            dataType: "json",
            data: {
                stateProvinceId: stateProvinceId
            },
            success: (function (result) {
                $("#DistrictId").html("");
                for (i = 0; i < result.length; i++) {
                    $("#DistrictId").append(`<option value="${result[i].id}">${result[i].name}</option>`);
                }
                // Update
                if (_Address.districtId != 0) {
                    $("#DistrictId").val(_Address.districtId);
                    getListWard(_Address.districtId);
                }
                getListWard($("#DistrictId").val());
            }),
            error: function (response) {
                console.log(response.responseText);
            }
        })
    }

    function getListWard(districtId) {
        $.ajax({
            url: "@Url.Action("GetListWardByDistrictId", "LocationAddress")",
            type: "POST",
            dataType: "json",
            data: {
                districtId: districtId
            },
            success: (function (result) {
                $("#WardId").html("");
                for (i = 0; i < result.length; i++) {
                    $("#WardId").append(`<option value="${result[i].id}">${result[i].wardName}</option>`);
                }
                // Update
                if (_Address.wardId != 0) {
                    $("#WardId").val(_Address.wardId);
                }
                $("#WardId").val();
            }),
            error: function (response) {
                console.log(response.responseText);
            }
        })
    }

    function CreateAddress() {
        // init contructtor funtion Address
        _Address = new Address();

        $("#StateProvinceId").val(_Address.stateProvinceId);
        getListDistrict(_Address.stateProvinceId);

        // Clear Input
        document.getElementById('formAddress').reset();

        // Error require input
        var required = document.querySelectorAll("input[required]");
        required.forEach(function (element) {
            element.style["border"] = "1px solid #ced4da";
        });
        $("#AddressError").hide();
    }

    function EditAddress(StateId, DistrictId, WardId) {
        _Address.stateProvinceId = StateId;
        _Address.districtId = DistrictId;
        _Address.wardId = WardId;

        $('#StateProvinceId').val(_Address.stateProvinceId);
        getListDistrict(_Address.stateProvinceId);
        $('#DistrictId').val(_Address.districtId);
        $('#WardId').val(_Address.wardId);
    }

</script>

<script src="~/js/Address.js"></script>