@*<div class="card-body">
    <form class="form-horizontal" id="formChangePassword">

        <div class="form-group">
            <label class="col-md-12 text-muted">Mật khẩu cũ : *(Bắt buộc)</label>
            <div class="col-md-12">
                <input type="password" required minlength="3" placeholder="Mật khẩu cũ" name="PasswordOld" id="PasswordOld" class="form-control">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label class="col-md-12 text-muted">Mật khẩu mới : *(Bắt buộc)</label>
            <div class="col-md-12">
                <input type="password" required minlength="3" placeholder="Mật khẩu mới" name="Password" id="Password" class="form-control">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label class="col-md-12 text-muted">Xác nhận mật khẩu : *(Bắt buộc)</label>
            <div class="col-md-12">
                <input type="password" required minlength="3" placeholder="Xác nhận mật khẩu" name="ConfirmPass" id="ConfirmPass" class="form-control">
            </div>
        </div>

        <div class="alert alert-danger" id="resetPassError" style="display:none">

        </div>

        <br>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="button" id="ChangePass" class="btn btn-success">Cập nhật mật khẩu</button>
            </div>
        </div>
    </form>
</div>*@