
<div id="profileModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="Error" style="display:none">

                </div>
                <div id="divImage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" id="btnSaveAvatar">Lưu</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
